#page {
   display: flex;
}
#main{
    
}
#header {
    width: 100%;
    height: 80px;
    background-color: rgb(255, 0, 0);
}
#sidebar {
    width: 150px;
    height: 680px;
    background-color: rgb(24, 201, 224);
}
#content {
    width: 750px;
    height: 500px;
    background-color: rgb(9, 250, 129);
}
#footer {
    width: 100%;
    height: 100px;
    background-color: rgb(223, 9, 91);
}