#page {
    
    
    
}    
#conteiner{
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
        flex-direction: row;
        gap: 500px;
        justify-content: space-around;
        align-items: center;

}
.box {
    background-color: #000000;
    width: 150px;
    height: 40px;
        display: flex;
            flex-direction: column;
            margin: 10px 10px 10px 10px;
}
h2 {
    color: rgb(255, 255, 255);
    justify-content: center;
    margin: 10px 10px 10px 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    

}
H1 {
    color: aliceblue;
    justify-content: center;
    margin: 0 0 10px 50px;
}
img {
    width: 100%;
    height: 100%;
}
.boxq {
    background-color: rgb(0, 0, 0);
    width: 90px;
    height: 40px;
}
.direita {
    width: 200px;

}
#conteiner1 {
    width: 100%;
    height: 500px;
    background-color: #313131;
    display: flex;
        flex-direction: row;
        gap: 400px;
        justify-content: center;
        align-items: center;
}
.box3 {
    width: 200px;
    height: 200px;
    background-color: #ff0000;
    display: flex;
        flex-direction: row;
        gap: 10px;
}
.box4 {
    
        width: 100px;
        height: 50px;
        background-color: #ff0000;
        margin: 210px 10px 0 10px;
    
}
.box31 {
    width: 600px;
    height: 400px;
    background-color: #ff0000;
}
#conteiner3 {
    width: 100%;
    height: 500px;
    background-color: #303030;
    display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 148px;    
        align-items: center;
}
.box6 {
    width: 300px;
    height: 400px;
    background-color: rgb(255, 0, 0);
}
 #contente4 {
    width: 100%;
    height: 200px;
    background-color: #303030;
    display: flex;
        flex-direction: row;
        gap: 100px;
        justify-content: center;
        align-items: center;
        
}
.box7 {
    width: 300px;
    height: 150px;
    background-color: #ff0000;
}
.box8 {
    width: 800px;
    height: 150px;
    background-color: rgb(216, 5, 5);
}
#contente5 {
    width: 100%;
    height: 200px;
    background-color: #303030;
    display: flex;
        flex-direction: row;
        gap: 100px;
        justify-content: center;
        align-items: center;
        
}
.box9{
    width: 300px;
    height: 150px;
    background-color: #fa0000;
}
.box10 {
    width: 800px;
    height: 150px;
    background-color: rgb(218, 0, 0);
}

#conteinerfim {
 
        width: 100%;
        height: 700px;
        background-color: #303030;
        display: flex;
            flex-direction: row;
            gap: 98px;
            justify-content: center;
            align-items: center;
}       
.boxinicio {
    width:300px ;
    height: 600px;
    
    margin: 0 0 0 0;
    
}
.d11 {
    width: 300px;
    height: 60px;
    background-color: #ff0000;
}
.d1 {
    width: 300px;
    height: 60px;
    background-color: #ff0000;
    margin: 500px 0 0 0;
}
.grande {
    width: 400px;
    height: 500px;
    background-color: #ff0000;
    margin: 150px 0 0 0;
}
.pequena {
    width: 300px;
    height: 100px;
    background-color: #ff0000;
    margin: 550px 0 0 0 ;
}
